<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.web_api_crud_produit">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="Web_api_crud_produit.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true">
		<uses-library
        android:name="org.apache.http.legacy"
        android:required="false"/>
	</application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
